.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.main h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #268e9c;
  margin: 16px 0 40px;
  /* floating animation  */
  animation: float 2.3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
    transform: rotate(0deg);
  }
  
}

.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #003049;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #003049;
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.main input[type="submit"],
.startbutton,
.bookinglink {
  padding: 12px 0;
  color: #003049;
  background-color: #dda15e;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.startbutton {
  width: 320px;
  margin-bottom: 24px;
  color: #003049;
}

.main .result {
  font-weight: bold;
  margin-top: 20px;
  
}

.chatwidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

.chatapp {
  display: flex;
  justify-content: center;
  min-width: 400px;
}

.system {
  background-color: #dda15e;
  color: #003049;
  padding: 4px;
  margin: 4px;
}

.thinking {
  color: #003049;
}

.user {
  border: 3px solid #dda15e;
  /* color: #fff; */
  padding: 4px;
  margin: 4px;
}

.chatbox {
  border-radius: 3px;
}

.screen {
  height: 100%;
  background-color: #fff;
}